<h1>NEW ENTRY PAGE</h1>


<%= form_for @post do |f| %>
<div class="form_group">
  <%= f.label :title%>
  <%= f.text_field :title %>
  <%= f.label :add_link%>
  <%= f.text_field :url %>
</div>

<div class="">
</div>

<%= f.submit %>

<% end %>
